HELP.md
target/
.mvn/
mvnw
mvnw.cmd
.idea/
.vscode/
*.iws
*.iml
*.ipr

node_modules
**/node_modules
*.log
.DS_Store
**/.DS_Store
/.m2
**/.m2
*.tmp
*.swp
dist
build
.git
.gitignore
docker-compose*.yml
